/*----- MENU LINKS --------*/
nav {
  z-index: 2;
}

.navbar {
  background-color: #1b242f;
}

nav a.nav-link {
  font-size: 1.1rem;
  //letter-spacing: 0.0375rem;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
  @media (max-width: 750px) {
    height: 4rem !important;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid yellow;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid yellow;
}
