.contact-me {
  background: #252934;
  color: #fff;
  .svgcolor-light svg {
    left: 0;
    position: absolute;
    top: 0;
  }
  .contact-header {
    color: var(--primary-white);
    margin: 40px 0 20px 0;
  }
  .highlight {
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 12pt;
    @media (max-width: 600px) {
      font-size: 9pt;
    }
  }
  .contact-form-wrapper {
    margin: 40px auto 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }

  .form {
    width: 60%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }

  input,
  textarea {
    background: var(--primary-background-black);
    box-sizing: border-box;
    width: 100%;
    border: 0;
    color: #8d8d8d;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 0;
    height: 50px;
    box-shadow: none !important;
    outline: 0 !important;
    @media (max-width: 600px) {
      font-size: 14px;
    }
    &:focus {
      background-color: var(--primary-background-black);
      color: var(--primary-text-form);
    }
  }
  .form textarea {
    height: 50px;
    min-height: 150px;
  }

  .align-btn {
    display: flex;
    justify-content: end;
    .contact-btn {
      line-height: none !important;
      background-color: transparent;
      @media (max-width: 415px) {
        height: 50px;
      }
    }
  }
}

.line {
  position: relative;
  //top: -0.rem;
  width: 0;
  height: 0.125rem;
  background-color: var(--primary-blue);
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -1rem 0;
}
textarea.form-control {
  margin: -1rem 0;
}

.error-message {
  color: var(--primary-pink);
  opacity: 60%;
  font-size: 14px;
  margin-top: -6px;
  text-align: left;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.position-alert {
  opacity: 80% !important;
  position: absolute !important;
  width: auto !important;
  right: 10px;
  background-color: mediumspringgreen !important;
  padding: 20px 40px !important;
  border-left: 40px solid rgb(0, 131, 81) !important;
  border-radius: 4px;
  height: 65px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: -150px;
  display: flex;
  align-items: center;
  color: var(--primary-white) !important;
}

.success-icon {
  color: var(--primary-white) !important;
  margin-left: -20px;
  font-size: 25px;
}

.bounce-in-right {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}

@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
