.experience .container {
  @media (max-width: 768px) {
    //padding-left: 0;
    //margin-left: 40px;
  }
}

.experience {
  margin-bottom: 4rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background-color: var(--primary-light-grey);
    z-index: 1;
    @media (max-width: 768px) {
      left: 0.5rem;
      margin-bottom: 1.875rem;
      margin-left: 20px;
    }
  }
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
  @media (max-width: 768px) {
    float: none;
    width: 100%;
  }
}

.timeline-block-left {
  float: left;
  direction: rtl;
  @media (max-width: 768px) {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-grey);
  background-color: var(--primary-blue);
  margin-top: 0.625rem;
  z-index: 3;
  @media (max-width: 768px) {
    margin-left: 10px;
  }
}

.timeline-content {
  width: 95%;
  padding: 00.9375rem;
  color: var(--primary-grey);
  direction: ltr;
  margin-top: -10px;

  h3 {
    color: var(--primary-pink);
    //margin-top: 0.3125rem;
    font-weight: bold;
  }
}
