/*----- MENU LINKS --------*/
nav {
  z-index: 2;
}

.navbar-wrapper {
  max-width: 1250px !important;
}

.navbar {
  background-color: var(--primary-background-nav);
}

nav a.nav-link {
  font-size: 1.1rem;
  //letter-spacing: 0.0375rem;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
  @media (max-width: 750px) {
    height: 4rem !important;
  }
}

//transition that makes the navbar stick
.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-pink);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-pink);
}

.navbar-transparent {
  opacity: 90%;
}

.border-line {
  border: 3px solid var(--primary-blue);
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

//transition that makes the navbar take off
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
